/* ------------------- About Us -------------------*/

.row {

    margin-left: 0!important;
    margin-right: 0!important;
}

.ensembleContent{

    width: 100%;
    min-height: 250px;
    justify-content: center;
    text-align: left;
    background-color: whitesmoke;
    margin-bottom: .5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.ensembleContentBigTitle {

    font-size: 40px;
}

.ensembleContentBigText {

    font-size: 16px;
    padding-top: 2%;
}

.ensembleContentSmall {

    text-align: center;
}

.ensembleVideo {

    height: 243px;
    width: 432px;
}

.ensembleImage {

    width: 100%;
    height: auto;
}

.aboutUsStaff {

    margin-top: .8%;
}

.staffSectionTop {

    margin-left: .8%;
    margin-right: .8%;
}
.staffSectionTitle {

    text-align: center;
    font-size: 35px;
    background-color: whitesmoke;
}

.bandDirector {

    text-align: center;
    background-color: whitesmoke;
}

.staffCard {

    background-color: whitesmoke;
    height: 100%;
}

.bandStaffEnsembleColorGuard {

    text-align: center;
}

.bandStaffEnsembleDrumline {

    text-align: center;
}

.directorDescription {

    text-align: center;
}

.ensembleStaff {

    margin-top: .8%;
    text-align: center;
}

.staffDescription {

    font-size: 16px;
}

.staffSection {

    margin-top: .8%;
}

.staffSectionTitle {

    font-size: 40px;
    padding-bottom: 1%;
}

.staffPic {

    height: 200px;
}

.hrStyle {

    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.13);
    height: 1;
    margin: 0 auto;
    border: 0pt none;
}

@media only screen and (max-width: 600px){


}

