
/*        Style Sheet for Fireworks Page         */

.row {

    margin-left: 0!important;
    margin-right: 0!important;
}

.annoucements {

    width: 100%;
}

.announcementImg {

    width: 100%;
}

.websiteText {

    font-size: 18px;
    font-weight: 300;
}

.centerContent {

    margin-top: .8%!important;
}

.contentLeft {

    padding-right: .4%;
}

.contentRight {

    padding-left: .4%;
}

.squareTile {

    height: 400px;
    background-color: whitesmoke;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.footerStart {

    margin-bottom: .8%!important;
}