/* ------------------- About Us -------------------*/

.row {

    margin: 0!important;
}

.ensembleContent{

    width: 100%;
    min-height: 200px;
    justify-content: center;
    text-align: left;
    background-color: whitesmoke;
}


.ensembleContentMirror{

    width: 100%;
    min-height: 200px;
    justify-content: center;
    text-align: right;
    background-color: lightgrey;

}
