.supportCard {

    min-height: 250px;
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: .8%;
    padding: 2%;
}

.supportTitle {

    font-size: 30;
    font-weight: 500;
}

.supportText {

    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.btn {

    width: 8%;
}

.groupMeLogo {

    width: 100%;
}

.hrStyle {

    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.13);
    height: 1;
    margin: 0 auto;
    border: 0pt none;
}

.boosterPic {

    width: 100%;
}