.supportCard {

    min-height: 250px;
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: .8%;
}

.supportTitle {

    font-size: 30;
    font-weight: 500;
}

.supportText {

    font-size: 18px;
    font-weight: 300;
    text-align: center;
}