/* ------------------- About Us -------------------*/

.row {

    margin-left: 0!important;
    margin-right: 0!important;
}

.ensembleContent{

    width: 100%;
    min-height: 250px;
    justify-content: center;
    text-align: left;
    background-color: whitesmoke;
    margin-bottom: .5%;
}

.ensembleContentBigTitle {

    font-size: 40px;
}

.ensembleContentBigText {

    font-size: 16px;
}

.ensembleContentSmall {

    text-align: center;
}

.ensembleVideo {

    height: 243px;
    width: 432px;
}

.ensembleImage {

    width: 100%;
    height: auto;
}

.staffSectionTitle {

    text-align: center;
    font-size: 35px;
}

.bandDirector {

    text-align: center;
}

.bandStaffEnsembleColorGuard {

    text-align: center;
}

.bandStaffEnsembleDrumline {

    text-align: center;
}

.directorDescription {

    text-align: center;
}

.ensembleStaff {

    margin-right: 25%;
    margin-left: 25%;
    margin-top: 2%;
    text-align: center;
}

.staffCard {

    margin-top: 5%;
}

.staffDescription {

    font-size: 16px;
}

.staffSection {

    margin-left: 5%;
    margin-right: 5%;
}

.staffSectionTitle {

    font-size: 40px;
}

.staffPic {

    height: 200px;
}

.hrStyle {

    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.13);
    height: 1;
    margin: 0 auto;
    border: 0pt none;
}

@media only screen and (max-width: 600px){


}