#html {

    height: 100vh;
    background-color: #0D473D;
    width: 100%;
}

#main {

    width: 100%;
}

#body {

    height: 100vh;
    width: 100%;
}

.row {

    margin: 0!important;
}




/* ------------------- Main -----------------------*/

.main {

    z-index: 1;
}

.websiteTitle {

    font-size: 30;
    font-weight: 500;
    text-align: center;
}

#scrolls {

    width: 100%;
}

.hrStyleTitle {

    width: 25%;
}

.websiteText {

    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.hrStyle {

    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.13);
    height: 1;
    margin: 0 auto;
    border: 0pt none;
}

.indexBody {

    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 200px;
    width: 100%;
    margin: 0!important;
}

.contentBorder {

    border-right-style: solid;
}

.indexContentTitle {

    padding-bottom: 2%;
}

.indexContentBottom {

    width: 100%;
    text-align: center;
}

.indexEnsemblebutton {

    padding-top: 1%;
    padding-bottom: 1%;
}

.calendarWeek {

    width: 100%;
    height: 220px;
    overflow-y: scroll;
}

.instagram-media {

    min-width: 0px!important;
    width: 100%!important;
}

.instagram-media-rendered {

    min-width: 0;
}

.indexContentBandBoosterBandLogo {

    height: 25px;
}

.QRCodeTitle {

    text-align: center;
}

@media only screen and (max-width: 600px){

    /*---------------------- MAIN -----------------------*/
    #scrolls {

        max-height: 30vh;
    }

    .indexContent {

        padding-top: 5%;
        padding-bottom: 5%;
    }

    .indexContentDescription {

        font-size: 14px;
    }

    .indexEnsemble {

        font-size: 16px;
    }

    .indexVolunteer {

        font-size: 20px;
    }
   
    .joinEnsemblesLeft {
        
        padding-left: 1%;
        padding-right: 1%;
    }    

    .joinEnsemblesRight {

        padding-left: 1%;
        padding-right: 1%;
    }

    .contentBorder {

        border-right-style: none;
    }

    .websiteTitle {

        font-size: 20px;
    }

    .indexEnsembleButton {

        padding-top: 1%!important;
        padding-bottom: 1%!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .calendarWeek {

        height: 300px;
        width: 100%;
    }

    .QRCodeImage {

        width: 100%;
    }
}