.main {

    z-index: 1;
    width: 100%;
}

.indexBody {

    padding-bottom: 2%;
    min-height: 200px;
    width: 100%;
}

@media only screen and (max-width: 600px){

    /*---------------------- MAIN -----------------------*/
    #scrolls {

        max-height: 30vh;
    }
}