/* --------------Footer --------------*/

#Footer {

    width: 100%;
}

.footer {

    width: 100%;
    background-color: lightgray;
}

#Footer {

    background-color: rgb(53,58,63);
    color: white;
    text-align: center;
    padding: 1%;
    /*bottom: 0px;
    /*position: absolute;
    width: 100%;*/
}

.footerContact {

    text-align: center;
}

.logos {

    display: inline-flex
}

.logoImages {

    height: 25px;
}

.text-muted {
    text-align: left;
}
