

.main {

    z-index: 1;
    width: 100%;
}

.row {

    margin: 0!important;
}

.indexBody {

    padding-bottom: 1%;
    min-height: 200px;
    width: 100%;
}

.hrStyleTitle {

    width: 25%;
}

.websiteTitle {

    font-size: 30px;
    text-align: center;
}

.indexContentDescription {

    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.indexEnsembleButton {

    padding-top: 1%;
    padding-bottom: 1%;
}

.calendarWeek {

    width: 100%;
    height: 220px;
}

.hrStyle {

    width: 80%;
}

@media only screen and (max-width: 600px){

    /*---------------------- MAIN -----------------------*/

    .indexBody {

        padding-bottom: 2%;
        min-height: 100px;
    }

    .joinEnsemblesLeft {

        padding: 0;
    }

    .joinEnsemblesRight {

        padding: 0;
    }

    .websiteTitle {

        font-size: 20px;
    }
    
    .indexContentDescription {

        font-size: 15px;
    }
}