
.ensembleContent{

    display: inline-flex;
    width: 100%;
    justify-content: center;
}


.ensembleContentMirror{

    display: inline-flex;
    width: 100%;
    justify-content: center;
}


.ensembleContentBig {

    width: 66%;
}

.ensembleContentSmall {

    width: 33%;
}

.WhyNotWork {

    width: 100;
    display: inline-flex;
}