/*Navigation*/


.navContent {

    height: 100px;
}

.navBanner {

    text-align: center;
    background-color: #0D473D;
    color: white;
    height: 50px;
}

.navBannerImage {

    height: 65px;
}
.navImage {

    height: 20px;
}

.navbar {

    width: 100%;
    position: inherit;
}

.navbar-collapse {

    justify-content: center;
}

.navbar-nav {

    width: 100%;
    justify-content: center;
    text-align: center;
}

.nav-item {

    font-size: 16px;
}



/*          About Us             */

.ensembleContent{

    display: inline-flex;
}

.ensembleContentBig {

    width: 66%;
}

/*
.ensembleContent {

    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.ensembleContentBig {

    width: 66%;
}

.ensembleContentSmall {

    width: 33%;
}
*/