/*Navigation*/


.navContent {

    height: 100px;
}

.navBanner {

    text-align: center;
    background-color: #0D473D;
    color: white;
    height: 50px;
    padding-top: 10px;
}

.navBannerImage {

    height: 65px;
}
.navImage {

    height: 20px;
}

.navbar {

    width: 100%;
    position: inherit;
}

.navbar-collapse {

    justify-content: center;
}

.navbar-nav {

    width: 100%;
    justify-content: center;
    text-align: center;
}

.nav-item {

    font-size: 16px;
}


/* ------------------- About Us -------------------*/


.ensembleContent{

    width: 100%;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    background-color: lightgrey;
}


.ensembleContentMirror{

    width: 100%;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    text-align: right;
    background-color: lightgrey;
}


.ensembleContentBig {

    width: 66%;
}

.ensembleContentSmall {

    width: 33%;
}

.ensembleImage {

    height: 100%;
}
